<!-- Mobsted {literal} -->
<script>
     (function(m,o,b,s,t,e,d){
       m[t]=m[t]||{},e=o.createElement(b),d=o.getElementsByTagName(b)[0],
         e.async=1,e.src=s,d.parentNode.insertBefore(e,d)
     })(window,document,"script","https://cdn.mobsted.com/pwaless.js","pwaless");
     pwaless.config = {
       accountId: "b7c84be7",
       server: "mobsted.com",
       projectId: 15
     }
 </script>
 <!-- /Mobsted {/literal} -->
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/./css/index.css">
     <link rel="stylesheet" href="/./css/standings.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
     <script src="https://kit.fontawesome.com/2c1b23ff4c.js" crossorigin="anonymous"></script>   
     
     <script src="https://cdnjs.cloudflare.com/ajax/libs/shards-ui/3.0.0/js/shards.min.js"></script>
     <title><%= pageTitle %></title><style>*{font-family:'Readex Pro', sans-serif;}</style>    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> </head>