<!-- Mobsted {literal} -->
<script>
     (function(m,o,b,s,t,e,d){
       m[t]=m[t]||{},e=o.createElement(b),d=o.getElementsByTagName(b)[0],
         e.async=1,e.src=s,d.parentNode.insertBefore(e,d)
     })(window,document,"script","https://cdn.mobsted.com/pwaless.js","pwaless");
     pwaless.config = {
       accountId: "b7c84be7",
       server: "mobsted.com",
       projectId: 15
     }
 </script>
 <!-- /Mobsted {/literal} -->
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/./css/index.css">
     <link rel="stylesheet" href="/./css/standings.css">
     <link rel="stylesheet" href="/./css/loader.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
     <script src="https://kit.fontawesome.com/2c1b23ff4c.js" crossorigin="anonymous"></script>   
     <title><%= pageTitle %></title><style>*{font-family:'Readex Pro', sans-serif;}</style>    
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> </head><!-- Google tag (gtag.js) -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2JM7EW0Q4B"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
     
       gtag('config', 'G-2JM7EW0Q4B');
     </script>