<header>
     <nav>
          <div>
               <img src="" alt="ucl">
               <h2>هايزيـن</h2>
          </div>
          <ul class="links">
               <li><a href="/">الصفحة الرئيسية</a></li>
               <li><a href="/matchday?<%= moment().format("YYYY-MM-DD") %>">مباريات اليوم</a></li>
               <li class="dropdown-leagues" id="leagues-toggle">
                    <a href="#" onclick="addActive()">ترتيب الدوريات</a>
                    
                    
                         <ul class="leagues-dropdown hidden">
                              <li>
                                   <a href="/laliga-table">الدوري الاسباني</a>
                                   <img src="https://www.fifplay.com/img/public/laliga-logo.png" alt="laliga">
                              </li>
                              <li>
                                   <a href="/premierleague-table">الدوري الانكليزي</a>
                                   <img src="https://www.fifplay.com/img/public/premier-league-2-logo.png" alt="premier-league">
                              </li>
                              <li>
                                   <a href="/bundesliga-table">الدوري الالماني</a>
                                   <img src="https://www.fifplay.com/img/public/bundesliga-logo.png" alt="bundesliga">
                              </li>
                              <li>
                                   <a href="/seriea-table">الدوري الايطالي</a>
                                   <img src="https://www.fifplay.com/img/public/serie-a-logo.png" alt="serieA">
                              </li>
                              <li>
                                   <a href="/liguea-table">الدوري الفرنسي</a>
                                   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Ligue1_Uber_Eats_logo.png/523px-Ligue1_Uber_Eats_logo.png" alt="liguea">
                              </li>
                         </ul>
                    
               </li>
               <li id="last"><img src="https://imagecache.365scores.com/image/upload/f_png,w_68,h_68,c_limit,q_auto:eco,dpr_2,d_Countries:Round:19.png/v4/Competitions/572" alt="ucl"><a href="/ucl">دوري ابطال اوروبا</a></li>
          </ul>
          <div id="hamburger" onclick="showLinks()">
               <i class="fa-solid fa-bars fa-2xl" style="color: #369457;"></i>
          </div>
     </nav>
</header>