@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
 *, *::before, *::after {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0; font-family: "Readex Pro" sans-serif;
}
 html {
	box-sizing: border-box;
	margin: 0;
	padding: 0; font-family: "Readex Pro" sans-serif;
    font-family: 'Readex Pro', sans-serif;}
 
@media (min-width: 38em) {
	 html {
		 font-size: 14px;
	}
}
@media (min-width: 52em) {
	 html {
		 font-size: 15px;
	}
}
@media (min-width: 72em) {
	 html {
		 font-size: 16px;
	}
}

.error-message {
	margin-top: 1rem;
	background-color: tomato;
	padding: 0.5rem;
	border-radius: 5px;
	color: #fff;
	text-shadow: #333 0 2px 10px;
}

.error-message-con {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
	padding: 0 0.6rem;
}

body {
	background: #E6E6E6;
	text-align: center;
	font-family: 'Readex Pro', sans-serif;
	color: #666;
}


@keyframes scroll {
	0% {
		transform: translateX(0);
   }
	100% {
		transform: translateX(calc(-250px * 7));
   }
}

.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.slider::before, .slider::after {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}
.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}
.slider::before {
	left: 0;
	top: 0;
}
.slider .slide-track {
	animation: scroll 25s linear infinite;
	display: flex;
	gap: 1.5rem;
	width: calc(250px * 3);
}
.slider .slidex {
	height: 100px;
	width: 250px;
}

.slidex img {
	border-radius: 50%;
	filter: grayscale(100%);
}
.slidex .nor {
	border-radius: 0;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #E6E6E6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: loader 0.5s 2.2s ease forwards;
    animation: loader 0.5s 2.2s ease-in forwards;
    z-index: 99;
}

.progress-bar {
    width: 200px;
    height: 2px;
    background-color: #FFEF00;
    position: relative;
    
    
}

.progress-bar:before {
    content: "";
    display: block;
    width: 0px;
    height: 4px;
    position: absolute;
    top: -1px;
    border-left: 0px solid #FFEF00;
    -webkit-animation: progress 2s ease-in-out forwards;
    animation: progress 2s ease-in-out forwards;
}

.loader {
	display:flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.6rem 0;
	align-items: center;
}

@-webkit-keyframes loader {
    to {left: -100%;}
}

@keyframes loader {
    to {left: -100%;}
}

@-webkit-keyframes progress {
    to {border-left: 200px solid #333;}
}

@keyframes progress {
    to {border-left: 200px solid #777;}
} 

.carousel-item {
	position: relative;
}

.carousel-item p {
	position: absolute;
	right: 15px;
	bottom: 6px;
	padding: 4px;
	background-color: #FFEF00;
	color: #333;
	border-radius: 4px;
	text-decoration: none;
}


    .sdasss{
        background-position: -15rem center;  
		background-size: 40rem;
		background-repeat: no-repeat;
    }

	.fcard {
		margin: 0.65rem 0;
	}

	.tbag{
		background-position: center;
	}

	.bi {
		width: 50px;
	}

	.feature-icon{
		padding: 0.3rem;
		border-radius: 12px;
		background: rgb(253,203,4);
		background: linear-gradient(90deg, rgba(253,203,4,1) 0%, rgba(255,228,121,1) 68%);
	}
	
	.follow-section {
		background-image: url("https://t3.ftcdn.net/jpg/06/50/78/10/360_F_650781022_PbHsGtKoOiJL29Wk9BD8fIVMxlkQbhXC.jpg");
		width: 100%;
		background-size: cover;
		background-color: #ECEEF2;
		border-radius: 15px;
		display: flex;
		padding: 0.4rem 0;
		flex-direction: column;
		padding-top: 25px 0;
		justify-content: center;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
		border: 1px solid rgba(0, 0, 0, 0.3);
		align-items: center;
		max-width: 400px;
		background-position: center;
		height: 100px;
   }
   
   .follow-section:hover {
		filter: brightness(1.1);
		cursor: pointer;
   }
   
   .follow-section p {
		color: #fff;
		font-size: 16px;
		font-weight: 600;
   }
   
   .follow-section .share-links img {
		width: 30px;
		max-width: 30px;
		height: 30px;
		box-shadow: rgba(50, 50, 93, 0.9) 0px 50px 100px -20px, rgba(0, 0, 0, 0.9) 0px 30px 60px -30px;
		aspect-ratio: 1/1;
		object-fit: contain;
		max-height: 30px;
   }