@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
 *, *::before, *::after {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0; font-family: "Readex Pro" sans-serif;
}
 html {
	box-sizing: border-box;
	margin: 0;
	padding: 0; font-family: "Readex Pro" sans-serif;
    font-family: 'Readex Pro', sans-serif;}
 
@media (min-width: 38em) {
	 html {
		 font-size: 14px;
	}
}
@media (min-width: 52em) {
	 html {
		 font-size: 15px;
	}
}
@media (min-width: 72em) {
	 html {
		 font-size: 16px;
	}
}

.error-message {
	margin-top: 1rem;
	background-color: tomato;
	padding: 0.5rem;
	border-radius: 5px;
	color: #fff;
	text-shadow: #333 0 2px 10px;
}

.error-message-con {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
	padding: 0 0.6rem;
}

body {
	background: #E6E6E6;
	text-align: center;
	font-family: 'Readex Pro', sans-serif;
	color: #666;
}


@keyframes scroll {
	0% {
		transform: translateX(0);
   }
	100% {
		transform: translateX(calc(-250px * 7));
   }
}

.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.slider::before, .slider::after {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}
.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}
.slider::before {
	left: 0;
	top: 0;
}
.slider .slide-track {
	animation: scroll 25s linear infinite;
	display: flex;
	gap: 1.5rem;
	width: calc(250px * 3);
}
.slider .slide {
	height: 100px;
	width: 250px;
}

.slidex img {
	border-radius: 50%;
	filter: grayscale(100%);
}
.slidex .nor {
	border-radius: 0;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #E6E6E6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: loader 0.5s 2.2s ease forwards;
    animation: loader 0.5s 2.2s ease-in forwards;
    z-index: 99;
}

.progress-bar {
    width: 200px;
    height: 2px;
    background-color: #FFEF00;
    position: relative;
    
    
}

.progress-bar:before {
    content: "";
    display: block;
    width: 0px;
    height: 4px;
    position: absolute;
    top: -1px;
    border-left: 0px solid #FFEF00;
    -webkit-animation: progress 2s ease-in-out forwards;
    animation: progress 2s ease-in-out forwards;
}

.loader {
	display:flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.6rem 0;
	align-items: center;
}

@-webkit-keyframes loader {
    to {left: -100%;}
}

@keyframes loader {
    to {left: -100%;}
}

@-webkit-keyframes progress {
    to {border-left: 200px solid #333;}
}

@keyframes progress {
    to {border-left: 200px solid #777;}
} 

.carousel-item {
	position: relative;
}

.carousel-item p {
	position: absolute;
	right: 15px;
	bottom: 6px;
	padding: 4px;
	background-color: #FFEF00;
	color: #333;
	border-radius: 4px;
	text-decoration: none;
}