
.loader {
    width: 100%;
    height: 100%;
    background-color: #E6E6E6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: loader 0.5s 1.2s ease forwards;
    animation: loader 0.5s 1.2s ease-in forwards;
    z-index: 99;
}

.progress-bar {
    width: 200px;
    height: 2px;
    background-color: #FFEF00;
    position: relative;
    
    
}

.progress-bar:before {
    content: "";
    display: block;
    width: 0px;
    height: 4px;
    position: absolute;
    top: -1px;
    border-left: 0px solid #FFEF00;
    -webkit-animation: progress 1s ease-in-out forwards;
    animation: progress 1s ease-in-out forwards;
}

.loader {
	display:flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.6rem 0;
	align-items: center;
}

@-webkit-keyframes loader {
    to {left: -100%;}
}

@keyframes loader {
    to {left: -100%;}
}

@-webkit-keyframes progress {
    to {border-left: 200px solid #333;}
}

@keyframes progress {
    to {border-left: 200px solid #777;}
}
.live .live-pulse{
  background: tomato;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  margin: 50px; position:relative;
}
.live-pulse{
  position: absolute;
  top: 0;
  animation: pulse 0.6s infinite;
  background: red;
}
@keyframes pulse{
  0%{
    opacity: 1;
    transform: scale(1)}
  50%{
    opacity: 0;
    transform: scale(1.6)}
  100%{
    opacity: 0}}