nav {
     padding: 0.8rem;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     background-color: #000;
     width: 100%;
     border-bottom: 3px solid #369457;
}

nav div {
     color: #37a85e;
     display: flex;
}

nav div img {
     width: 2.8rem;
     margin-right: 1rem;
}

nav ul {
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
     position: relative;
}


.active {
     display: block;
}

.hidden {
     display: none;
}

nav ul .dropdown-leagues ul {
     position: absolute;
     flex-direction: column;
     background-color: rgb(225, 223, 223);
     border-radius: 0.3rem;
     z-index: 1454;
}

nav ul .dropdown-leagues ul li {
     display: flex;
     padding: 0.3rem;
     margin: 0.4rem 0;
     justify-content: center;
     align-items: center;
}

nav ul .dropdown-leagues ul li a {
     color: #222;
}

nav ul .dropdown-leagues ul li:hover {
     background-color: #369457;
     cursor: pointer;
}

nav ul .dropdown-leagues ul li a:hover {
     text-decoration: none;
}

nav ul .dropdown-leagues ul img {
     width: 20px;
}

nav ul #last {
     position: relative;
}

nav ul #last img {
     width: 25px;
     right: -22px;
     top: 7px;
     position: absolute;
}

nav ul a {
     text-decoration: none;
     color: #fff;
     margin: 0 0.6rem;
     font-size: 1.15rem;
     font-weight: 600;
}

nav ul a:hover {
     text-decoration: underline;
}

#hamburger i {
     cursor: pointer;
     display: none;
}

@media only screen and (max-width: 980px) {

     #hamburger i {
          display: block;
     }

     nav {
          position: relative;
     }
     
     nav ul {
          position: absolute;
          background-color: #000;
          display: none;
          flex-direction: column;
          width: 100%;
          top: 4.7rem;
          padding: 7px 0 12px 0;
          z-index: 283;
     }

     .hidden {
          display: flex;
          background-color: none;
     }

     nav ul .dropdown-leagues ul {
          position: unset;
          flex-direction: column;
          background-color: #000;
          display: grid;
          grid-gap: 10px;
          grid-template-columns: repeat(auto-fill, minmax(100px, 1fr) ) ;
          border-radius: 0;
     }
     
     nav ul .dropdown-leagues ul li {
          display: flex;
          padding: 0;
          margin: 0rem 0;
          justify-content: center;
          align-items: center;
     }
     
     nav ul .dropdown-leagues ul li a {
     color: #fff;
     font-size: 0.6rem;
}

}