<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="./css/login.css">
     <%- include("../partials/head.ejs") %>
<body>
     <%- include("../partials/navbar.ejs") %>
     


    <style>
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
    </style>

<body>
    <main><h3>اضافة سيرفر جديد</h3><form action="/manage/s/add?pass=<%= pass %>" style="padding:1rem;" method="POST">
        <div class="form-group">
            <label for="name">الاسم:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="link">الرابط:</label>
            <input type="text" class="form-control" id="link" name="link" required>
        </div> 
        <div class="form-group">
            <label for="desc">الوصف:</label>
            <input type="text" class="form-control" id="desc" name="desc" required>
        </div>
        <div class="form-group">
            <label for="status">الحالة:</label>
            <input type="text" class="form-control" id="status" name="status" required>
        </div>
        <div class="form-group">
            <label for="featured">مميز:</label>
            <input type="text" class="form-control" id="featured" name="featured" required>
        </div>
        <div class="form-group">
            <label for="cover">الغلاف:</label>
            <input type="text" class="form-control" id="cover" name="cover" required>
        </div><div class="form-group">
            <label for="type">النوع:</label>
            <input type="text" class="form-control" id="type" name="type" required>
        </div>
        <div class="form-group">
            <label for="image">رابط الصورة:</label>
            <input type="text" class="form-control" id="image" name="img" required>
        </div>
        <div class="form-group">
            <label for="locked">قفل:</label>
            <input type="text" class="form-control" id="locked" name="locked" required>
        </div>
        <button type="submit" class="btn btn-primary">إضافة السيرفر</button>
    </form></main>
     
<script src="index.js"></script>
<script src="navbar.js"></script>
</body>
</html>