<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="/./css/index.css">
          <link rel="stylesheet" href="/./css/standings.css">
          <link rel="stylesheet" href="/./css/nav.css">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com">
          <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
          <script src="/navbar.js" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
          <script src="https://kit.fontawesome.com/2c1b23ff4c.js" crossorigin="anonymous"></script>
          <title>ูุงูุฒูู | ูุจุงุฑูุงุช ุงูููู ููุชุงุฆุฌ ูุงุญุตุงุฆูุงุช</title>
     </head>
<body>

     <header>
          <nav>
               <div>
                    <img src="https://seeklogo.com/images/H/heisenberg-logo-6ACACAD210-seeklogo.com.png" alt="ucl">
                    <h2>ูุงูุฒููู</h2>
               </div>
               <ul class="links">
                    <li><a href="/">ุงูุตูุญุฉ ุงูุฑุฆูุณูุฉ</a></li>
                    <li><a href="/matchday?<%= moment().format("YYYY-MM-DD") %>">ูุจุงุฑูุงุช ุงูููู</a></li>
                    <li class="dropdown-leagues" id="leagues-toggle">
                         <a href="#" onclick="addActive()">ุชุฑุชูุจ ุงูุฏูุฑูุงุช</a>
                         
                         
                              <ul class="leagues-dropdown hidden">
                                   <li>
                                        <a href="/laliga-table">ุงูุฏูุฑู ุงูุงุณุจุงูู</a>
                                        <img src="https://www.fifplay.com/img/public/laliga-logo.png" alt="laliga">
                                   </li>
                                   <li>
                                        <a href="/premierleague-table">ุงูุฏูุฑู ุงูุงููููุฒู</a>
                                        <img src="https://www.fifplay.com/img/public/premier-league-2-logo.png" alt="premier-league">
                                   </li>
                                   <li>
                                        <a href="/bundesliga-table">ุงูุฏูุฑู ุงูุงููุงูู</a>
                                        <img src="https://www.fifplay.com/img/public/bundesliga-logo.png" alt="bundesliga">
                                   </li>
                                   <li>
                                        <a href="/seriea-table">ุงูุฏูุฑู ุงูุงูุทุงูู</a>
                                        <img src="https://www.fifplay.com/img/public/serie-a-logo.png" alt="serieA">
                                   </li>
                                   <li>
                                        <a href="/liguea-table">ุงูุฏูุฑู ุงููุฑูุณู</a>
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Ligue1_Uber_Eats_logo.png/523px-Ligue1_Uber_Eats_logo.png" alt="liguea">
                                   </li>
                              </ul>
                         
                    </li>
                    <li id="last"><img src="https://imagecache.365scores.com/image/upload/f_png,w_68,h_68,c_limit,q_auto:eco,dpr_2,d_Countries:Round:19.png/v4/Competitions/572" alt="ucl"><a href="/ucl">ุฏูุฑู ุงุจุทุงู ุงูุฑูุจุง</a></li>
               </ul>
               <div id="hamburger" onclick="showLinks()">
                    <i class="fa-solid fa-bars fa-2xl" style="color: #369457;"></i>
               </div>
          </nav>
     </header>

<script src="script.js"></script>
    <style>
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>
    <main  style="width: 100vw;">




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="container">
    <h3>ุงูุจุซ ุงููุจุงุดุฑ ูู ูุงูุฒูู</h3>
    	<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">ุงููููุงุช</h3>
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="ุงูุจุญุซ ุนู ููุงุฉ" />
					</div>
					<table class="table table-hover" id="dev-table">
						<thead>
              <a href="">
							<tr>
								<th>&nbsp;</th>
								<th>ุงูููุงุฉ</th>
								<th>ุงูุญุงูุฉ</th>
								<th>๐</th>

    
    </main>
    <div class="share-links">
     <div>
          <img width="20" src="https://logodownload.org/wp-content/uploads/2017/11/telegram-logo-8.png"><a href="https://t.me/l0OOI" class="share-link" style="text-decoration: none; color: #1e8efe;"> HeisenUSX</a>
     </div>
     <div>
          <img width="20" src="https://seeklogo.com/images/T/twitter-x-logo-0339F999CF-seeklogo.com.png?v=638258077460000000"><a href="https://x.com/IOO0K" style="text-decoration: none; color: #333;" class="share-link"> HeisenUSX</a>
     </div>
</div>
    <br><br><br><br><br><br>
    <footer style="position: fixed; width: 100%; bottom: 0; left: 0;">
        <p>ยฉ Heisen. ุฌููุน ุงูุญููู ูุญููุธุฉ 2024</p>
    </footer>
     
<script src="index.js"></script>
<script src="navbar.js"></script>
</body>
</html>