<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="./css/login.css">
     <%- include("../partials/head.ejs") %>
 
<body>
     <%- include("../partials/navbar.ejs") %>
<body>
    <main style="width:100vw;background:; display:flex; flex-direction:column;align-items:center;justify-content:center;">
    

<video id="videojs" class="video-js vjs-fluid vjs-forest-skin vjs-big-play-centered" controls preload="auto" autoplay muted fluid="true" liveui="true">

     <source src="<%= channel.link %>"></source></source>" type="application/x-mpegURL">
    <p class="vjs-no-js">
        استخدم متصفح يدعم جافاسكربت
        
    </p>
</video>


<script type="text/javascript">
var player = videojs('videojs');
player.hlsQualitySelector();
</script>

</br>
<h3>
<%= channel.name %>
</h3>






    </main>
<script src="index.js"></script>
<script src="navbar.js"></script>
</body>
</html>