<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="/./css/index.css">
          <link rel="stylesheet" href="/./css/standings.css">
          <link rel="stylesheet" href="/./css/nav.css">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com">
          <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
          <script src="/navbar.js" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
          <script src="https://kit.fontawesome.com/2c1b23ff4c.js" crossorigin="anonymous"></script>
          <title>هايزين | مباريات اليوم ونتائج واحصائيات</title>
     </head>
<body>

     <header>
          <nav>
               <div>
                    <img src="https://seeklogo.com/images/H/heisenberg-logo-6ACACAD210-seeklogo.com.png" alt="ucl">
                    <h2>هايزيـن</h2>
               </div>
               <ul class="links">
                    <li><a href="/">الصفحة الرئيسية</a></li>
                    <li><a href="/matchday?<%= moment().format("YYYY-MM-DD") %>">مباريات اليوم</a></li>
                    <li class="dropdown-leagues" id="leagues-toggle">
                         <a href="#" onclick="addActive()">ترتيب الدوريات</a>
                         
                         
                              <ul class="leagues-dropdown hidden">
                                   <li>
                                        <a href="/laliga-table">الدوري الاسباني</a>
                                        <img src="https://www.fifplay.com/img/public/laliga-logo.png" alt="laliga">
                                   </li>
                                   <li>
                                        <a href="/premierleague-table">الدوري الانكليزي</a>
                                        <img src="https://www.fifplay.com/img/public/premier-league-2-logo.png" alt="premier-league">
                                   </li>
                                   <li>
                                        <a href="/bundesliga-table">الدوري الالماني</a>
                                        <img src="https://www.fifplay.com/img/public/bundesliga-logo.png" alt="bundesliga">
                                   </li>
                                   <li>
                                        <a href="/seriea-table">الدوري الايطالي</a>
                                        <img src="https://www.fifplay.com/img/public/serie-a-logo.png" alt="serieA">
                                   </li>
                                   <li>
                                        <a href="/liguea-table">الدوري الفرنسي</a>
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Ligue1_Uber_Eats_logo.png/523px-Ligue1_Uber_Eats_logo.png" alt="liguea">
                                   </li>
                              </ul>
                         
                    </li>
                    <li id="last"><img src="https://imagecache.365scores.com/image/upload/f_png,w_68,h_68,c_limit,q_auto:eco,dpr_2,d_Countries:Round:19.png/v4/Competitions/572" alt="ucl"><a href="/ucl">دوري ابطال اوروبا</a></li>
               </ul>
               <div id="hamburger" onclick="showLinks()">
                    <i class="fa-solid fa-bars fa-2xl" style="color: #369457;"></i>
               </div>
          </nav>
     </header>

<script src="script.js"></script>
    <style>



    </style>
</head>
<body>
    <main  style="width: 100vw;">
    
    
        <iframe frameborder="0" allowfullscreen="" scrolling="no" allow="autoplay;fullscreen" src="https://onelineplayer.com/player.html?autoplay=false&autopause=true&muted=false&loop=false&url=https%3A%2F%2Fbee.fun%3A2083%2Fchannel-1-plus%2Ftracks-v1a1%2Fmono.m3u8&poster=&time=true&progressBar=true&overlay=true&muteButton=true&fullscreenButton=true&style=light&quality=auto&playButton=true" style="height: 100%; width: 100%; aspect-ratio: 1280 / 720;"></iframe>
    
    </main>
        <link href="https://vjs.zencdn.net/8.9.0/video-js.css" rel="stylesheet" />
      
        <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
        <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
      
      
      
        <video
          id="my-video"
          class="video-js"
          controls
          preload="auto"
          width="640"
          height="264"
          poster="MY_VIDEO_POSTER.jpg"
          data-setup="{}"
        >
          
          <source src="https://bee.fun:2083/channel-1-plus/tracks-v1a1/mono.m3u8" type="application/x-mpegURL" />
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
              >supports HTML5 video</a
            >
          </p>
        </video>
      
        <script src="https://vjs.zencdn.net/8.9.0/video.min.js"></script>
      
    <div class="share-links">
     <div>
          <img width="20" src="https://logodownload.org/wp-content/uploads/2017/11/telegram-logo-8.png"><a href="https://t.me/l0OOI" class="share-link" style="text-decoration: none; color: #1e8efe;"> HeisenUSX</a>
     </div>
     <div>
          <img width="20" src="https://seeklogo.com/images/T/twitter-x-logo-0339F999CF-seeklogo.com.png?v=638258077460000000"><a href="https://x.com/IOO0K" style="text-decoration: none; color: #333;" class="share-link"> HeisenUSX</a>
     </div>
</div>
    <br><br><br><br><br><br>
    <footer style="position: fixed; width: 100%; bottom: 0; left: 0;">
        <p>© Heisen. جميع الحقوق محفوظة 2024</p>
    </footer>

    <script>
        // JavaScript code for the slider
        const slider = document.querySelector("#slider");
        const images = slider.getElementsByTagName("img");
        let currentIndex = 0;

        function changeSlide() {
            for (let i = 0; i < images.length; i++) {
                images[i].style.display = "none";
            }

            currentIndex = (currentIndex + 1) % images.length;
            images[currentIndex].style.display = "block";
        }

        setInterval(changeSlide, 3000);
    </script>
     
     
<script src="index.js"></script>
<script src="navbar.js"></script>
</body>
</html>
