<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/video.js@8.10.0/dist/video-js.min.css">
<link rel="stylesheet" href="./css/login.css">
     <%- include("../partials/head.ejs") %>
 
<body>
     <%- include("../partials/navbar.ejs") %>
<body>
    <main style="width:100vw; display:flex; flex-direction:column;align-items:center;justify-content:center;">
    
        <video id="my_video_1" class="video-js vjs-fluid vjs-default-skin" controls preload="auto"
  data-setup='{}'>
    <source src="<%= channel.link %>" type="application/x-mpegURL">
  </video>

<script type="text/javascript">

</script>

</br>
<div class="server-con" lang="ar" dir="rtl">
<h3><%= channel.name %></h3>
<div class="paragraphs">
<p>
    
</p>
</div>
</div>

<br>

<a target="_blank" href="https://t.me/x1934">
    <div class="ad-con">
        <p>ضع اعلانك هنا</p>
    </div>
</a>


<style>
    .server-con {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 960px;
    }
    .server-con h3{
        align-self: center;
        text-align: center;
    }
    .server-con p{
        font-size: 1.2rem;
    }
    .server-con .paragraphs{
        padding: 0.6rem;
        border-radius: 0.8rem;
        width: 75%;
        max-width: 680px;
        text-align: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .ad-con{
        width: 14rem;
        height: 10rem;
        border: dashed gray 1px;
        border-radius: 1rem;
        background: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

 .video-js {
	/* The base font size controls the size of everything, not just text. All dimensions use em-based sizes so that the scale along with the font size. Try increasing it to 15px and see what happens. */
	 font-size: 10px;
	/* The main font color changes the ICON COLORS as well as the text */
	 color: #fff;
}
/* The "Big Play Button" is the play button that shows before the video plays. To center it set the align values to center and middle. The typical location of the button is the center, but there is trend towards moving it to a corner where it gets out of the way of valuable content in the poster image.*/
 .vjs-default-skin .vjs-big-play-button {
	/* The font size is what makes the big play button...big. All width/height values use ems, which are a multiple of the font size. If the .video-js font-size is 10px, then 3em equals 30px.*/
	 font-size: 3em;
	/* We're using SCSS vars here because the values are used in multiple places. Now that font size is set, the following em values will be a multiple of the new font size. If the font-size is 3em (30px), then setting any of the following values to 3em would equal 30px. 3 * font-size. */
	/* 1.5em = 45px default */
	 line-height: 1.5em;
	 height: 1.5em;
	 width: 3em;
	/* 0.06666em = 2px default */
	 border: 0.06666em solid #fff;
	/* 0.3em = 9px default */
	 border-radius: 0.3em;
	/* Align top left. 0.5em = 15px default */
	
}
/* The default color of control backgrounds is mostly black but with a little bit of blue so it can still be seen on all-black video frames, which are common. */
 .video-js .vjs-control-bar, .video-js .vjs-big-play-button, .video-js .vjs-menu-button .vjs-menu-content {
	/* IE8 - has no alpha support */
	 background-color: #2b333f;
	/* Opacity: 1.0 = 100%, 0.0 = 0% */
	 background-color: rgba(43, 51, 63, 0.7);
}
/* Slider - used for Volume bar and Progress bar */
 .video-js .vjs-slider {
	 background-color: #73859f;
	 background-color: rgba(115, 133, 159, 0.5);
}
/* The slider bar color is used for the progress bar and the volume bar (the first two can be removed after a fix that's coming) */
 .video-js .vjs-volume-level, .video-js .vjs-play-progress, .video-js .vjs-slider-bar {
	 background: #fff;
}
/* The main progress bar also has a bar that shows how much has been loaded. */
 .video-js .vjs-load-progress {
	/* For IE8 we'll lighten the color */
	 background: #bfc7d3;
	/* Otherwise we'll rely on stacked opacities */
	 background: rgba(115, 133, 159, 0.5);
}
/* The load progress bar also has internal divs that represent smaller disconnected loaded time ranges */
 .video-js .vjs-load-progress div {
	/* For IE8 we'll lighten the color */
	 background: #fff;
	/* Otherwise we'll rely on stacked opacities */
	 background: rgba(115, 133, 159, 0.75);
}
 
</style>

    </main>
<script>$(function(){
    var $refreshButton = $('#refresh');
    var $results = $('#css_result');
    
    function refresh(){
      var css = $('style.cp-pen-styles').text();
      $results.html(css);
    }
  
    refresh();
    $refreshButton.click(refresh);
    
    // Select all the contents when clicked
    $results.click(function(){
      $(this).select();
    });
  });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/video.js@8.10.0/dist/video.min.js"></script>
<script src="index.js"></script>
</body>
</html>